<%- include('partials/header.ejs') %>
    <div class="table-wrapper">
        <% if (hostages.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type of Person</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% hostages.forEach((yum, index) => { %>
                        <tr>
                            <th scope="row"><%= yum.id %></th>
                            <td><img src="/assets/img/<%= yum.image %>" class="rounded-circle hostages-img" alt=""></td>
                            <td><%= yum.name %></td>
                            <td><%= yum.type_of_person %></td>
                            <td>
                                <a href="/edit/<%= yum.id %>" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/delete/<%= yum.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No hostages found. Go <a href="/add" >here</a> to add hostages.</p>
        <% } %>
    </div>
</div>
</body>
</html>